@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


:root {
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    outline: 0;
}



body {
    padding: 0px;
    margin: 0;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.paginaLoja {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(209, 29, 29, 0.1);
    mix-blend-mode: normal;
    border: 1px solid rgba(209, 29, 29, 0.37);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;


}

.backgroundlistaloja {
    position: absolute;
    width: 1720px;
    height: 855px;
    left: 11px;
    top: 11px;
    background: #c9bebf;
    border-radius: 10px;
}

.listaADD {
    position: absolute;
    width: 1300px;
    height: 50px;
    left: 415px;
    top: 15px;
    background: #a6b1bd;
    border-radius: 10px;
    text-align: left;
    line-height: 0%;
    padding-left: 9px;

}

.listaloja {
    position: absolute;
    width: 1300px;
    height: 780px;
    left: 415px;
    top: 73px;
    background: #a6b1bd;
    border-radius: 10px;
    text-align: left;
    line-height: 0%;
    padding-left: 9px;

}



.listafuncoes {
    position: absolute;
    width: 395px;
    height: 845px;
    left: 14px;
    top: 15px;
    background: #a6b1bd;
    border-radius: 10px;
    padding: 2px;
}

.buttonLista {
    background-color: #BC787C;
    color: white;
    width: 380px;
    height: 50px;
    top: 20px;
    cursor: pointer;
    text-align: left;
    justify-content: flex-start;
    display: flex;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.4s;
    border: #000000;
    margin: 7px;

}

.buttonLista:hover {
    background-color: #7C3C3C;
    color: rgb(255, 255, 255);
    border-style: solid;
    padding: 9px;
}

.listaInput {
    position: absolute;
    width: 1300px;
    height: 780px;
    left: 415px;
    top: 73px;
    background: #a6b1bd;
    border-radius: 10px;
}

input[type=text],
select {
    padding: 12px 20px;
    display: flex;
    margin: 23px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.divlista {
    display: flex;
    justify-content: space-between;
    margin: 25px;

}

.buttonSubmit {
    background-color: #BC787C;
    color: white;
    width: 380px;
    height: 50px;
    top: 20px;
    cursor: pointer;
    text-align: left;
    justify-content: flex-start;
    display: flex;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.4s;
    border: #000000;
    margin: 7px;

}

.buttonSubmit:hover {
    background-color: #7C3C3C;
    color: rgb(255, 255, 255);
    border-style: solid;
    padding: 9px;
}


input[type="date"] {
    color: #4c6c6e;
    font-size: 18px;
    border: 1px solid #ecf0f1;
    background: #ecf0f1;
    padding: 5px;
    display: inline-block;
    border-radius: 7px;
}


.listatabela {
    position: absolute;
    width: 1300px;
    height: 50px;
    left: 420px;
    top: 75px;
    border-radius: 10px;
    text-align: left;
}

.tabela {
    border-collapse: absolute;
    border-style: solid;
    border-radius: 5px;
}

.tabela thead tr {
    background-color: #2d353d;
    color: #ffffff;
    text-align: left;
}

.tabela th,
.tabela td {
    padding: 12px 15px;
}

.tabela tbody tr {
    border-bottom: 1px solid #ff0000;

}

.tabela tbody tr:nth-of-type(even) {
    background-color: rgb(121, 152, 177);

}